# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
orders = pd.read_csv('Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [30]:
clientes=orders.groupby('CustomerID').agg({'amount_spent' : 'sum'}).reset_index()

clientes.head()

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40

In [44]:
VIP = clientes.CustomerID[clientes.amount_spent >= np.percentile(clientes.amount_spent, 95)]

VIP

0       12346
10      12357
12      12359
50      12409
55      12415
        ...
4207    18109
4229    18139
4253    18172
4292    18223
4298    18229
Name: CustomerID, Length: 217, dtype: int64

In [42]:
PRE = clientes.CustomerID[(clientes.amount_spent < np.percentile(clientes.amount_spent, 95)) & (clientes.amount_spent >= np.percentile(clientes.amount_spent, 75))]

PRE

1       12347
2       12348
3       12349
5       12352
9       12356
        ...
4319    18259
4320    18260
4328    18272
4337    18283
4338    18287
Name: CustomerID, Length: 868, dtype: int64

In [48]:
per95 = np.percentile(clientes.amount_spent, 95)

In [49]:
per75 = np.percentile(clientes.amount_spent, 75)

In [50]:
clientes['client_type'] = clientes.amount_spent.apply(lambda x: 'vip' if x > per95 else 'preferred' if per75 < x < per95 else 'normal')

In [52]:
clientes.head()

   CustomerID  amount_spent client_type
0       12346      77183.60         vip
1       12347       4310.00   preferred
2       12348       1797.24   preferred
3       12349       1757.55   preferred
4       12350        334.40      normal

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

## Q3: How to identify which country has the most VIP+Preferred Customers combined?