# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [19]:
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
unicos = orders["CustomerID"].unique()
len(unicos)

4339

In [12]:
pivotada = orders.pivot_table(index=["CustomerID"]).reset_index()
pivotada["amount_spent"]
pref_cus = pivotada.sort_values(by = "amount_spent", ascending = False).iloc[216:1084]
pref_cus.head()

,CustomerID,InvoiceNo,Quantity,UnitPrice,Unnamed: 0,amount_spent,day,hour,month,year
2991,16422,555791.720867,91.338753,1.813930,221574.184282,93.995664,2.715447,11.799458,6.271003,2010.940379
1168,13929,554260.555556,15.888889,5.294444,198508.888889,93.627778,3.333333,15.000000,4.888889,2011.000000
413,12873,545431.000000,32.000000,4.037500,107357.500000,93.500000,3.000000,14.000000,3.000000,2011.000000
1363,14199,551979.000000,14.000000,5.900000,175609.500000,92.700000,4.000000,13.000000,5.000000,2011.000000
3735,17457,551795.631579,43.473684,3.221053,174552.210526,91.457895,4.315789,11.578947,4.684211,2011.000000

In [13]:
vip = pivotada.sort_values(by = "amount_spent", ascending = False).iloc[0:216]
vip.head()

,CustomerID,InvoiceNo,Quantity,UnitPrice,Unnamed: 0,amount_spent,day,hour,month,year
0,12346,541431.000000,74215.000000,1.040,61619.000000,77183.60,2.000000,10.0,1.000000,2011.0
3009,16446,562876.333333,26999.000000,1.660,309710.000000,56157.50,3.666667,9.0,7.333333,2011.0
2012,15098,556444.000000,40.333333,434.650,222677.333333,13305.50,5.000000,15.0,6.000000,2011.0
2503,15749,545638.600000,1802.800000,3.044,106639.300000,4453.43,1.500000,12.5,2.500000,2011.0
2088,15195,581115.000000,1404.000000,2.750,533812.000000,3861.00,3.000000,12.0,12.000000,2011.0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [33]:

order2 = orders.drop_duplicates('CustomerID')
vipcont = pd.get_dummies(order2.Country)
vipcont = vipcont.index(vip)
#tipodum['Total'] = pokemon.Total
#tipodum.corr()['Total'].sort_values(ascending=False)

TypeError: 'Int64Index' object is not callable

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here