# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [7]:
#1 VIP Customers =  aggregated expenses > 95th quantile
#2 Preferred Customers = 75th quantile < aggregated expenses > 95thquantile 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [8]:
orders = pd.read_csv('Orders.csv')
orders.head() #amount_spent

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [9]:
def quant (x):
    return np.percentile(x, 95)

In [10]:
Clients = orders.pivot_table(index=['CustomerID'],  aggfunc= sum)['amount_spent'].sort_values(ascending=False)

In [11]:
quantile_range = orders.groupby('CustomerID')['amount_spent'].sum().quantile([0.75,0.95])
print(quantile_range) 
orders[orders.groupby('CustomerID')['amount_spent'].sum().between(quantile_range.iloc[0], quantile_range.iloc[1])]
quant95 = 5840.182
quant75 = 1661.640

#Hemos encontrado que el quartil 95 esta a partir de 5840.182
#Hemos encontrado que el quartil 75 esta a partir de 1661.640

0.75    1661.640
0.95    5840.182
Name: amount_spent, dtype: float64

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [12]:
client= Clients.to_dict()
VIP = []
Pref = []
for k,v in client.items():
    if v > (5840.182):
        VIP.append(k)

for k,v in client.items():
    if v < (5840.182) and v > 1661.640:
        Pref.append(k)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [13]:
for e in orders.CustomerID:
    if e in VIP:
        Neww.append('VIP')
    else e in Pref:
        Neww.append('Pref')

SyntaxError: invalid syntax (1945174948.py, line 4)

In [45]:
Neww= []
Newww= []

for e in orders.CustomerID:
    if e in VIP:
        Neww.append('VIP')
    else : 
        Neww.append('None')
        
for e in orders.CustomerID:
    if e in Pref:
        Newww.append('Pref')
    else :
        Newww.append('None')

        
orders['Vips'] = Neww
orders['Prefs'] = Newww

orders.head(20)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Vips,Prefs
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,None,Pref
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,None,Pref
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,None,Pref
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,None,Pref
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,None,Pref
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,None,Pref
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,None,Pref
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,None,Pref
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,None,Pref
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,None,Pref
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,None,Pref
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,None,Pref
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00,None,Pref
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90,None,Pref
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,None,Pref
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,None,Pref
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90,None,Pref
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,None,Pref
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,None,Pref
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,None,Pref

In [46]:
orders.Vips.value_counts()

None    293440
VIP     104484
Name: Vips, dtype: int64

In [47]:
orders.Prefs.value_counts()

None    246143
Pref    151781
Name: Prefs, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [94]:
orders.pivot_table(index=['Vips'], columns= 'Country', aggfunc= 'count').max().sort_values(ascending=False)

              Country
Unnamed: 0    United Kingdom    270160.0
Description   United Kingdom    270160.0
CustomerID    United Kingdom    270160.0
day           United Kingdom    270160.0
amount_spent  United Kingdom    270160.0
                                  ...
Description   Saudi Arabia           9.0
amount_spent  Saudi Arabia           9.0
InvoiceNo     Saudi Arabia           9.0
month         Saudi Arabia           9.0
day           Saudi Arabia           9.0
Length: 518, dtype: float64

In [67]:
orders.groupby('Country').Fidelity.value()

None    246143
Pref    151781
Name: Prefs, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [95]:
orders.pivot_table(index=['Prefs'], columns= 'Country', aggfunc= 'count').max().sort_values(ascending=False)

              Country
Vips          United Kingdom    216895.0
Description   United Kingdom    216895.0
CustomerID    United Kingdom    216895.0
day           United Kingdom    216895.0
amount_spent  United Kingdom    216895.0
                                  ...
CustomerID    Saudi Arabia           9.0
UnitPrice     Saudi Arabia           9.0
Description   Saudi Arabia           9.0
StockCode     Saudi Arabia           9.0
InvoiceDate   Saudi Arabia           9.0
Length: 518, dtype: float64

In [56]:
orders.Country.value_counts('Prefs')

United Kingdom          0.890484
Germany                 0.022723
France                  0.020964
EIRE                    0.018189
Spain                   0.006245
Netherlands             0.005938
Belgium                 0.005104
Switzerland             0.004629
Portugal                0.003674
Australia               0.002978
Norway                  0.002694
Italy                   0.001905
Channel Islands         0.001880
Finland                 0.001721
Cyprus                  0.001543
Sweden                  0.001133
Austria                 0.001000
Denmark                 0.000955
Poland                  0.000829
Japan                   0.000807
Israel                  0.000623
Unspecified             0.000613
Singapore               0.000558
Iceland                 0.000457
USA                     0.000450
Canada                  0.000379
Greece                  0.000364
Malta                   0.000281
United Arab Emirates    0.000171
European Community      0.000151
RSA                     0.000146
Lebanon                 0.000113
Lithuania               0.000088
Brazil                  0.000080
Czech Republic          0.000063
Bahrain                 0.000043
Saudi Arabia            0.000023
Name: Country, dtype: float64